*.sf filter=lfs diff=lfs merge=lfs -text
AK[[:space:]]MODEL[[:space:]]MARCH[[:space:]]4[[:space:]]2020[[:space:]]2KM[[:space:]]FRICCRNFLW[[:space:]]FC_0.03[[:space:]]to[[:space:]]100[[:space:]]my.sf filter=lfs diff=lfs merge=lfs -text
AK[[:space:]]MODEL[[:space:]]MARCH[[:space:]]4[[:space:]]2020[[:space:]]2KM[[:space:]]NOFRICCRNFLW[[:space:]].sf filter=lfs diff=lfs merge=lfs -text
